body {
    margin: 0;
    background-color: #555353;
    font-family: "Inter";
    color: #c0c0c0;
    text-align: center;
}

.header {
    background: black;
    display: grid;
    min-height: 200px;
    min-width: 500px;
    border-bottom: 2px solid #01998a;
}

a {
    display: grid;
    text-align: center;
    align-items: middle;
    color: #01998a
}

.title {
    margin-right: 0px;
    transition: transform 1.5s ease;
}

.title:hover {
    cursor: pointer;
    transform: scale(90%);
}

.fastApiLogo {
    text-align: center;
    transition: transform 1.5s ease;
}

.fastApiLogo:hover {
    cursor: pointer;
    text-align: center;
    transform: scale(90%);
}

div {
    display: grid;
    text-align: center;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

h3 {
    color: #01998a;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

}

h2 {
    margin-top: 50px;
}

.titlePlusSign {
    margin-left: 0px;
}

.titleFastDeploy {
    margin-left: 0px;
}

.intro {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin: 50px;
}

.alert {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
;
}

.alertEnclosure {
    font-weight: 200;
    background: #1892;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
}

.advice {
    font-weight: 400;
    text-align: center;
    padding-bottom: 25px;
}

.adviceEnclosure {
    font-weight: 200;
    background: black;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid #01998a;
}

.tipNameEnclosure {
    background: #666666;
    text-transform: uppercase;
    font-weight: 400;
}

li {
    line-height: auto;
}

lu {
    justify-content: flex-start;
    padding: 5px;
}



.footer {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 0px 25px 50px 25px;
}

/* images */

.prints {
    margin: auto;
    border: 2px solid #01998a;
}

.fastApiLogo {
    align-items: center;
    display: flex;
    margin: auto;
}


.fastapiMini {
    vertical-align: middle;
    transition: transform 1.5s ease;
}

.fastapiMini:hover {
    cursor: pointer;
    transform: scale(150%);
}

.vercelMini {
    vertical-align: middle;
    transition: transform 1.5s ease;
}

.vercelMini:hover {
    cursor: pointer;
    transform: scale(150%);
}

.dockerMini {
    vertical-align: middle;
    transition: transform 1.5s ease;
}

.dockerMini:hover {
    cursor: pointer;
    transform: scale(150%);
}